.curiosity,
.offer,
.chooses {
  padding: 40px 60px;
}

.curiosity {
  background: var(--bluebluelightshade-90, #edf2ff);
}

.curiosityContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.curiosityDetails p {
  color: var(--blue-blue-dark-shade-30, #3256b3);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
}

.curiosityDetails h1 {
  color: var(--black-shade-black, #111);
  font-family: "Raleway";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 15px 0;
}

.curiosityDetails h6 {
  color: var(--black-shade-black, #111);
  font-family: "Raleway";
  font-size: 17px;
  line-height: 160%;
  padding-bottom: 10px;
}

.offer {
  background: #000;
  color: #fff;
}

.offer h1 {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 400;
  line-height: 160%;
}

.offerContent {
  display: flex;
  width: 40%;
  margin-top: 2rem;
}

.offerDetails {
  margin-left: 2rem;
}

.offerDetails h5 {
  color: var(--bluebluelightshade-30, #7ea3ff);
  font-family: "Raleway";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}

.offerDetails h6 {
  color: var(--neutral-11, #fff);
  font-family: "Raleway";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.5rem;
}

.chooses {
  text-align: center;
  background-color: #000;
}

.chooses h1 {
  color: #fff;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chooses img {
  display: block;
  margin: 2rem auto;
}

.chooses img:hover {
  opacity: 0.7;
}

.chooseContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: left;
  padding: 0 100px;
  margin-left: 2rem;
}

.choose h5 {
  color: var(--neutral-11, #fff);
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 1rem;
}

.choose h6 {
  color: var(--neutral-8, #b3b3b3);
  font-family: "Raleway";
  font-size: small;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* Tablets and under */
@media all and (max-width: 768px) {
  .curiosity,
  .offer,
  .chooses {
    padding: 30px 40px;
  }

  .curiosityContent {
    gap: 30px;
  }

  .curiosityDetails p {
    font-size: 15px;
  }

  .curiosityDetails h1 {
    font-size: 35px;
  }

  .curiosityDetails h6 {
    font-size: 15px;
  }

  .offerContent {
    width: 60%;
  }

  .offerDetails img {
    width: 50%;
  }

  .chooses h1 {
    font-size: 35px;
  }

  .chooseContent {
    gap: 20px;
    padding: 0;
    margin-left: 0;
  }

  .choose h5 {
    font-size: 18px;
  }
}

/* Tablets and under */
@media all and (max-width: 500px) {
  .curiosityContent,
  .chooseContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .curiosityContent > *:first-child {
    order: 2;
  }

  .offer h1,
  .chooses h1 {
    font-size: 30px;
  }

  .offerContent {
    width: 100%;
  }
}

/* Tablets and under */
@media all and (max-width: 425px) {
  .curiosityContent,
  .chooseContent {
    gap: 10px;
  }

  .curiosityDetails p {
    font-size: 13px;
  }

  .curiosityDetails h1 {
    font-size: 30px;
  }

  .curiosityDetails h6 {
    font-size: 12px;
  }

  .offerDetails h5 {
    font-size: 15px;
  }

  .offerDetails h6 {
    font-size: 12px;
    margin-top: 1rem;
  }
}

/* Tablets and under */
@media all and (max-width: 320px) {
  .curiosityDetails h1,
  .offer h1,
  .chooses h1 {
    font-size: 25px;
  }

  .curiosityDetails h6 {
    font-size: 10px;
  }

  .offerDetails {
    margin-left: 1rem;
  }

  .offerDetails h6 {
    font-size: 10px;
  }
}
